/* styles.css */

/* .concept-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  } */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.concept {
  border: 2px solid #4c7caf;
  border-radius: 10px;
  padding: 20px;
  background-color: #e8f5e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.concept:hover {
  transform: scale(1.02);
}

.concept h3 {
  font-size: 1.8em;
  color: #2e5d7d;
  margin-bottom: 10px;
}

.concept p {
  margin: 5px 0;
}

.concept pre,
.concept code {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
}

.concept pre {
  white-space: pre-wrap; /* Wrap long lines */
}

.concept code {
  font-family: "Courier New", Courier, monospace;
  color: rgb(9, 13, 239);
  display: block;
}

.concept .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Indicates that the container is clickable */
}

.concept .title {
  margin: 0; /* Remove default margins */
}

.concept .difficulty {
  font-size: 1rem; /* Adjust font size to match paragraph text */
  font-weight: normal; /* Ensure the font weight is normal */
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  border-radius: 10px;
}

/* Difficulty levels */
.difficulty.easy {
  color: white;
  background-color: green;
}

.difficulty.intermediate {
  color: white;
  background-color: orange;
}

.difficulty.advanced {
  color: white;
  background-color: red;
}

.content-visible {
  display: block;
}
.content-hidden {
  display: none;
}

.checkbox-label {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0efff;
  color: #2e5d7d;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.checkbox-label input {
  height: 0;
  width: 0;
  position: absolute;
}

.checkbox-label.selected {
  background-color: #2e5d7d;
  border-color: #2e5d7d;
  color: white;
}

.checkbox-group {
  display: flex;
}
nav {
  background: #2e5d7d; /* Changed to match your concept title color */
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox to align items inline */
  justify-content: center; /* Center the navigation items */
}

nav ul li {
  margin: 0 20px; /* Adjust spacing around each link */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px; /* Adds padding to increase clickable area and visual size */
}

nav ul li a:hover,
nav ul li a:focus {
  text-decoration: underline;
  background-color: #4c7caf; /* Adds a subtle background on hover/focus to match border color of concept */
}
